body {
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  margin: 0 auto;
}

iframe {
  width: 560px;
  height: 315px;
}

.hero-container {
  background: url("./assets/hero_img_01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 25px;
  height: 100vh;
}

.hero-content {
  position: absolute;
}

.text-section {
  color: white;
  text-align: center;
  font-size: 28px;
  word-spacing: 1px;
  line-height: 33px;
  letter-spacing: 2.5px;
  margin-bottom: 38px;
}

.btn-section {
  text-align: center;
  margin: 0 auto;
}

.btn {
  display: block;
  width: 172px;
  margin: 0 auto;
  font-size: 20px;
  word-spacing: -2px;
  letter-spacing: 0.9px;
  font-weight: 700;
  text-decoration: none;
  color: #3f434c;
  background: linear-gradient(top,#b8b8b8, #e5e5e5);
  background: -webkit-linear-gradient(top,#b8b8b8, #e5e5e5);
  background: -o-linear-gradient(top,#b8b8b8, #e5e5e5);
  background: -moz-linear-gradient(top,#b8b8b8, #e5e5e5);
  border: 1px solid white;
  padding: 17px 40px;
}

.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: calc(50vh - (382px / 2)); 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.6); 
}

.modal-content {
  position: relative;
  background-color: rgba(0,0,0,0.8);
  margin: 0 auto;
  padding: 0;
  width: 600px;
  border-radius: 5px;
}

.modal-header {
  padding: 10px 20px;
}

.modal-body {
  text-align: center;
  padding: 20px;
}

.close {
  color: grey;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
	transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
}

.close:hover{
  color: white;
}

.row {
  display: flex;
  background-color: white;

  padding: 40px;
  margin-left: -20px;
  margin-right: -20px;
}

.col-6 {
  width: 50%;

  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.section-img {
  width: 100%;
}

@media (min-width: 769px) {
  .hero-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 768px) {
  body{
    background: url("./assets/Hero_img_mobile_01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    line-height: 30px;
  }

  .hero-content {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .row {
    display: block;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: 0;
    margin-right: 0;
  }

  .col-6 {
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .text-section {
    min-width: 460px;
    margin-bottom: 50px;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 5px;
  }

  .btn {
    width: 240px;
    font-size: 30px;
    word-spacing: 1px;
    padding: 20px 38px;
  }

  .modal {
    padding-top: calc(50vh - (385px / 2)); 
  }
}

@media (max-width: 600px) {
  iframe{
    width: 320px;
    height: 240px;
  }

  .hero-content {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .text-section {
    min-width: 330px;
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 3px;
  }

  .btn {
    width: 170px;
    font-size: 22px;
    word-spacing: 1px;
    padding: 10px 40px;
  }

  .modal-content {
    width: 360px;
  }

  .modal {
    padding-top: calc(50vh - (310px / 2)); 
  }
}

@media (max-width: 480px) {
  iframe{
    width: 280px;
    height: 200px;
  }

  .hero-content {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .text-section {
    min-width: 320px;
  }

  .modal-content {
    width: 320px;
  }

  .modal {
    padding-top: calc(50vh - (270px / 2)); 
  }
}